body{
    margin:0;
    padding:0;
}
header {
  background-color: red;
  height: 60px;
  display: flex;
}
.logo {
  width: 15%;
  height: 60px;
}
.blank{
    width: 40%;
}
.nav {
  justify-content: space-between;
  width: 45%;
  line-height: 60px;
  display: flex;
}
.title {
  cursor: pointer;
}
a{
    text-decoration-line: none;
    color: black;
}
section{
    height: 800px;
}
@media (max-width: 1024px) {
}
@media (max-width: 960px) {
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
}
